{{ define "CONTENT" }}

<div class="flex justify-center items-center h-screen w-screen container">
  <div class="w-96 p-6 shadow-lg bg-white rounded-lg">
    <h1 class="text-3xl block text-center font-semibold">
      <i class="fa-solid fa-user"></i> Login:
    </h1>
    <form action="/login" method="post">
      <hr class="mt-3" />
      <div class="mt-3">
        <label for="email" class="block text-base mb-2">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter email..."
          class="w-full text-base placeholder:italic placeholder:text-sm placeholder:text-gray-400 block rounded-lg border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 focus:outline-none s:text-sm sm:leading-6 hover:ring-3 hover:ring-inset hover:ring-indigo-600 hover:shadow-sm" />
      </div>
      <div class="mt-3">
        <label for="password" class="block text-base mb-2">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter password..."
          class="w-full text-base placeholder:italic placeholder:text-sm placeholder:text-gray-400 block rounded-lg border-0 px-3 md:px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 focus:outline-none sm:text-sm sm:leading-6 hover:ring-3 hover:ring-inset hover:ring-indigo-600 hover:shadow-sm" />
      </div>

      <div class="mt-3 flex justify-between items-center text-xs">
        <div class="">
          <input name="Rememberme" type="checkbox" id="check" value="true"
            class="ring-1 ring-inset ring-gray-300 border-0 rounded outline-none" />
          <label class="text-slate-500">Remember Me</label>
        </div>
        <div class="">
          <a href="/forgot-pw" class="text-indigo-600">Forgot Password?</a>
        </div>
      </div>
      <div class="mt-3">
        <div class="mt-3 col-span-2">
          <button type="submit" id="guest-form__button-submit" data-te-ripple-init data-te-ripple-color="light"
            class="w-full flex items-center justify-center gap-4 rounded-md bg-indigo-600 px-6 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <label class="cursor-pointer" for="guest-form__button-submit">Submit</label>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}
