// Copyright (C) 2024 the quixsi maintainers
// See root-dir/LICENSE for more information

package components

type CheckboxProps struct {
	Label string
}

templ Checkbox(props CheckboxProps) {
	<div class="form-control">
		<label class="label cursor-pointer gap-[2rem]">
			<input type="checkbox" class="checkbox"/>
			<span class="label-text">{ props.Label }</span>
		</label>
	</div>
}
