// Copyright (C) 2024 the quixsi maintainers
// See root-dir/LICENSE for more information

package docs

import (
	components "github.com/quixsi/core/ui/components"
)

templ CheckboxDetailedDocs() {
	@components.H1(templ.Attributes{"class": "text-4xl font-bold"}) {
		Checkbox
	}
	<i>More coming soon...</i>
}
