package docs

import (
	components "github.com/quixsi/core/ui/components"
)

templ SwitchDetailedDocs() {
	@components.H1(templ.Attributes{"class": "text-4xl font-bold"}) {
		Switch
	}
	<i>More coming soon...</i>
}
